@font-face {
	font-family: 'buttercup';
	src: url('../fonts/TrueType/SFButtacupLettering.ttf');
}
@font-face {
	font-family: 'buttercup_bold';
	src: url('../fonts/TrueType/SFButtacupLettering-Bold.ttf');
}
@font-face {
	font-family: 'buttercup_slant';
	src: url('../fonts/TrueType/SFButtacupLettering-Oblique.ttf');
}
@font-face {
	font-family: 'kalos';
	src: url('../fonts/Kalos/Kalos.ttf');
}
body {
  background: url("../resources/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  	text-align: center;
  	color: white;
  	text-shadow: 3px 2px black;
  	font-family: "buttercup";
  	font-size:500%;
  	opacity:1;
}
h2{
	margin-left:10px;
	text-align: left;
  	color: black;
  	font-family: "buttercup_bold";
  	font-size:150%;
  	opacity:1;
}
h3 {
	margin-left:10px;
	text-align: left;
  	color: black;
  	font-family: "buttercup_slant";
  	font-size:90%;
  	opacity:1;
}
p, li {
	margin-left:10px;
	text-align: left;
  	color: black;
  	font-family: "kalos";
  	font-size:110%;
  	opacity:1;
}
.section img {
	height:200px;
	width:200px;
	position:relative;
}
#ibm_section {
	
}

#ibm {
	display: block;
    margin: auto;
    width: 200px;
    height:200px;
    border-radius: 50%;
 	cursor: pointer; cursor: hand;
    -webkit-transition: all 0.75s ease; /* Safari and Chrome */
    -moz-transition: all 0.75s ease; /* Firefox */
    -ms-transition: all 0.75s ease; /* IE 9 */
    -o-transition: all 0.75s ease; /* Opera */
    transition: all 0.75s ease;
    z-index:1;
}
#ibm:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
		z-index:1;
}
#encycle {
	display: block;
    margin: auto;
    width: 200px;
    height:200px;
 	border-radius: 50%;
 	cursor: pointer; cursor: hand;
    -webkit-transition: all 0.75s ease; /* Safari and Chrome */
    -moz-transition: all 0.75s ease; /* Firefox */
    -ms-transition: all 0.75s ease; /* IE 9 */
    -o-transition: all 0.75s ease; /* Opera */
    transition: all 0.75s ease;
    z-index:1;
}
#encycle:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
	z-index:1;
}
div.transbox {
	overflow:scroll;
	position:absolute;
	display: inline-block;
	height:200px;
	max-width:80%;
	margin-right:20px;
	margin-left:20px;
  	background: rgba(255, 255, 255, 0.3);
  	border: none;
  	/*opacity: 0.5;
 	filter: alpha(opacity=40); /* For IE8 and earlier */
}
div.transbox2 {
	overflow:scroll;
	position:fixed;
	display:block;
	height:200px;
	width:70%;

  	background: rgba(255, 255, 255, 0.3);
  	border: none;
 }

 .navbar img {
 	width:40px;
 	height:40px;
 }
 #nav_icon {
 	transition: all 0.6s ease;
 }

 #home_icon {
 	 -webkit-transition: all 0.75s ease; /* Safari and Chrome */
    -moz-transition: all 0.75s ease; /* Firefox */
    -ms-transition: all 0.75s ease; /* IE 9 */
    -o-transition: all 0.75s ease; /* Opera */
    transition: all 0.75s ease;
 }
 #home_icon:hover {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
		z-index:1;
}