@font-face {
	font-family: 'buttercup';
	src: url('../fonts/TrueType/SFButtacupLettering.ttf');
}
body {
  background: url("../resources/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
  	text-align: center;
  	color: white;
  	text-shadow: 3px 2px black;
  	font-family: "buttercup";
  	font-size:200%;
}
h1 {
  	text-align: center;
  	color: white;
  	text-shadow: 3px 2px black;
  	font-family: "buttercup";
  	font-size:500%;
}
#imagesMain {
  	position:relative;
  	text-align:center;
  	margin-left:auto;
  	margin-right:auto;
}
.image {
	display:inline-block;
}
.image img {
    -webkit-transition: all 0.75s ease; /* Safari and Chrome */
    -moz-transition: all 0.75s ease; /* Firefox */
    -ms-transition: all 0.75s ease; /* IE 9 */
    -o-transition: all 0.75s ease; /* Opera */
    transition: all 0.75s ease;
    z-index:1;
}
.image div {
	position:fixed;
	opacity:0;
	color: white;
	font-size:200%;
	margin-top:140px;
	margin-left:35px;
}
.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
     -webkit-filter: brightness(40%);
		filter: brightness(40%);
		z-index:1;
}
.image:hover div {
	position:absolute;
	font-family:buttercup;
	opacity:1;
	z-index:2;
}
.main_img {
	padding-top:50px;
	width:200px;
	height:200px;
}
.footer {
	padding-top:160px;
	bottom:0;
	padding-bottom:25px;
}
.footer img {
	width:50px;
	height:50px;
}
.footer a {
	position:relative;
}